body{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
h1{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
h2{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
h3{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
h4{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
h5{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
p{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
ul{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}
li{
    font-family: "Open Sans", Arial, serif;
    color: #444;
    line-height: 1em;
    font-weight: 400;
}

.name{
   line-height: 3em;
   color:#33485e;
   text-transform: uppercase;
   text-align: center;
}
/*Photo goes here*/

.mytitle{
    line-height: 1.5em;
    color:#33485e;
    text-transform: uppercase;
}
.sectiontitle{
    line-height: 1.5em; 
    text-transform: uppercase;
    font-weight: 400px;  
    color:white;
    background-color:#33485e
}
.jobtitle{
    line-height: 1.5em; 
    font-weight: 600;
}