body {
    background-color: black;
}

h1 {
    font-size: 36px;
    color: #c71e1d;
    text-align: center;
}

h3 {
    font-size: 18px;
    color: rgb(68, 65, 65)
}
blockquote {
    font-style: italic;
    font-size: 30px;
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: #c71e1d; 

    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc; 
    } 

.section{
    border: 1px solid black;
    padding: 10px;
    width: 95%;
    margin: auto;
    background-color: #ccc;
}

.navbar{
    width: 100%;
    background-color: black;
    overflow: auto;      
}

.navbar a {
    float: left;
    text-decoration: none;
    color: #ccc;
    background-color: black;
    font-size: 20px;
    width: 20%; 
    text-align: center; 
  }
  
  .navbar a:hover {
    background-color: #c71e1d; 
  }

#syringe {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
}

#anita {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
}

#vigil {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
}

#caption{
    font-size: 15px;
    color:  rgb(68, 65, 65);
    margin: auto;
    text-align: center;
}

#topper{
    margin: 0 auto;
    width: 98.5%;
    align-content: center;
}

#footer{
    font-size: 15px;
    color:black;
    margin: auto;
    text-align: center;
}