body {
    background-color: white;
}

h1 {
    font-size: 36px;
    color: black
    text-align: center;
}

h2 {
    font-size: 30px;
    color: gray 
}

#gourd{
    margin: 0 auto;
    width: 100%;
}