body {
    background-color: white;
}

h1 {
    font-size: 36px;
    color: black
    text-align: center;
}

h2 {
    font-size: 30px;
    color: gray 
}

#byline{
    font-size: 30px;
    color: gray 
    font-style: italic;
}


#gourd{
    margin: auto;
    width: 100%;
}