.h1 {
    font-family: Serif Caption, Georgia, serif;
    font-size: 30px;
    font-style: bold;   
}

.h2 {
        font-family: Serif Caption, Georgia, serif;
        font-size: 20px;
        font-style: italic; 
}
.p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

blockquote {
    font-family: Helvetica, sans-serif; 
    font-size: 50px;
    font-style: italic;
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: #891A1A; 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc; 
    } 

#masthead{
    margin: 0 auto;
    width: 100%;
}
#content {
    margin: 0 auto;
    width: 900px;
}

#pose{
    margin: 0 auto;
    width: 900px;
}

#headshot{
    margin: 0 auto;
    width: 900px;
}

#worldcup{
    margin: 0 auto;
    width: 900px;
}

#jersey{
    margin: 0 auto;
    width: 900px;
}

#byline h2 {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}